In [9]:
import os
os.chdir('D:\Tablealu')

In [10]:
os.getcwd()

'D:\\Tablealu'

In [11]:
import pandas as pd

In [12]:
import pandas_profiling as pp 
import sweetviz as sv

In [13]:
data=pd.read_csv('D:\\Tablealu\\dataSets\\National Parks Polygons (National Parks Polygons).csv')

In [14]:
data.head()

,Latitude,Longitude,Number of Records,Park ID,Park Name,Point ID,Polygon ID,Sub Polygon ID,Welsh Park Name
0,50.618530,-3.631696,1,E26000001,Dartmoor National Park,1,5,1,NaN
1,50.616243,-3.635560,1,E26000001,Dartmoor National Park,2,5,1,NaN
2,50.605255,-3.664206,1,E26000001,Dartmoor National Park,3,5,1,NaN
3,50.606832,-3.676696,1,E26000001,Dartmoor National Park,4,5,1,NaN
4,50.604965,-3.698236,1,E26000001,Dartmoor National Park,5,5,1,NaN

In [15]:
EDA_report=pp.ProfileReport(data)
EDA_report.to_file(output_file='National Parks Polygons (National Parks Polygons)')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=22.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

D:\anaconda\lib\site-packages\pandas_profiling\profile_report.py:279: UserWarning: Extension  not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.
  warnings.warn(

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [18]:
EDA_report=sv.analyze(data)
EDA_report.show_html('National Parks Polygons.html')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=10.0), HTML(value='')), lâ€¦

Report National Parks Polygons.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.